{
    "presets": ["env"],
    "plugins": [
        "transform-object-rest-spread",
        ["transform-decorators-legacy"],
        "emotion",
        ["transform-runtime", {"polyfill": false,"regenerator": true}]
    ]
}